
.cajaAzul{
    
    width: 10%;
    padding: 5%;
    background-color: blue;
    
    
    
}

.cajaRoja{
    
    width: 10%;
    padding: 5%;
    background-color: red;
   
    
}

.cajaVerde{
    
    width: 10%;
    padding: 5%;
    background-color: green;
    
    
}